body {
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../public/background1.jpeg");
  background-size: cover;
  background-color: #f2f2f2;
}

.main-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  text-align: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #b88d6a;
  color: #000000;
}

.center-box {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.errorMessage {
  text-align: center;
  color: #f32b2b;
}

table {
  width: 100%;
  margin: 2.5em auto;
  background: #0000006e;
}

tr{
  width: 100%;
}

td {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
}

th {
  font-weight: bold;
  background-color: #bebebe;
  text-align: center;
}

a:link, a:visited {
  color: #977356;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #6e5139;
  background-color: transparent;
  text-decoration: underline;
}